@font-face {
	font-family: "iconfont";
  src: url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before { content: "\a666"; }

.icon-cshy-shizhong:before { content: "\e626"; }

.icon-kouqiangbaojian:before { content: "\a602"; }

.icon-kouqiangmeirong:before { content: "\a603"; }

.icon-kouqiangneike:before { content: "\a604"; }

.icon-kouqiangwaike:before { content: "\a605"; }

.icon-kouqiangxiufu:before { content: "\a606"; }

.icon-kouqiangzhengji:before { content: "\a607"; }

.icon-kouqiangzhongzhi:before { content: "\a608"; }

.icon-bianji:before { content: "\a600"; }

.icon-qysj:before { content: "\e604"; }

.icon-cysj:before { content: "\e605"; }

.icon-wd:before { content: "\e606"; }

.icon-kz:before { content: "\e607"; }

.icon-ys:before { content: "\e608"; }

.icon-gt:before { content: "\e609"; }