html {
	height: 100%;

}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #f1f1f1;
	font-size: 14px;
	box-sizing: border-box;
	font-family: "微软雅黑",arial;
}
body,div,p,span,h1,h2,h3,h4,h5,ul,li,dl,dd,dt,a,from,input,div,menu,ol{ border:0; margin:0; padding:0; text-decoration:none; list-style:none;}
.mui-content{
	height: 100%;
	background-color: #f1f1f1;
}
* {
	padding: 0px;
	margin: 0px;
}
/*头部*/
.mui-bar {
	background-color: #765fc3;
}
.mui-bar .mui-pull-left,.mui-bar .mui-pull-right {
	color: #ffffff !important;
}
.mui-title {
	color: #ffffff;
	font-size: 18px;
}
/*公共*/
img {
	border: 0;
	vertical-align: middle;
}
.flex {
	display: -webkit-flex;
	display: flex;
}
.flex-1 {
	flex: 1;
	-webkit-flex: 1;
}
.flex-col {
	flex-direction: column;
	-webkit-flex-direction: column;
}
.flex-col-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-row-center {
	align-items: center;
	-webkit-align-items: center;
}
.text-ellipsis{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*按钮*/
.mui-btn.mui-active:enabled,
.mui-btn:enabled:active,
button.mui-active:enabled,
button:enabled:active,
input[type=button].mui-active:enabled,
input[type=button]:enabled:active,
input[type=reset].mui-active:enabled,
input[type=reset]:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
	background-color: #6b51c1;
	opacity: 0.8;
}
/**下拉刷新**/
.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;*/

	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}
/**下拉刷新 end**/

.mui-table-view-cell.selected{
	color: green;
	background:#FFF url(../images/profile/xg.jpg) no-repeat right ;
}
