
header{
	width:100%;
	height:45px;
	text-align: center;
	line-height: 45px;
	font-size:14px;
	color:white;
	background:#755fc3;
	text-indent: -40px;
}

header a{
	display: inline-block;
	height:45px;
	width:40px;
	background: url(../../个人中心/img/return.png) 15px center no-repeat;
	float:left;
	
}

.banner img{
	width:100%;
}

.word{
	padding:5px 15px;
	font-size:14px;
	color:#2a2a2a;
	line-height: 20px;
	position: relative;
	border-bottom: 1px solid #dedede;
}

.word span{
	font-size:16px;
	font-weight: 600;
	color:#f14434;
	line-height:25px;
}

.word span b{
	font-size:12px;
	color:#bbbbbb;
}

.btn{
	width:40px;
	height:40px;
	border-radius: 50%;
	background: #755fc3 url(../img/jia.png) center center no-repeat;
	position: absolute;
	top:50%;
	right:15px;
	transform: translate(0,-50%);
	
}

.main{
	margin-top:15px;
	border-top:1px solid #d6d6d6;
}

.main ul li{
	height:55px;
	line-height:55px;
	padding:0 15px;
	font-size:14px;
	color:#010101;
	border-bottom: 1px solid #d6d6d6;
	position: relative;
}

.find{
	width:calc(100% - 60px);
	float:right;
}

.xieru{
	position: absolute;
	width:25px;
	height:25px;
	top:50%;
	transform: translate(0,-50%);
	right:15px;
	background:url(../img/gaixie.png) center center no-repeat;
}

.bottom{
	width:100%;
	/*padding: 20px 0;*/
	height:60px;
	line-height:60px;
	background:#3f4249;
	position: fixed;
	bottom: 0;
}

.bottom ul li{
	float:left;
	width:calc(100% / 3);
	text-align: center;
	font-size: 16px;
	color:white;
}

.jia{
	display: inline-block;
	width:25px;
	height:25px;
	border:1px solid #666666;
	border-radius: 50%;
	left:5px;
	background:url(../img/jian.png) center center no-repeat;
	background-size:70%;
}

.jian{
	display: inline-block;
	width:25px;
	height:25px;
	border:1px solid white;
	border-radius: 50%;
	right:5px;
	background:url(../img/jiafooter.png) center center no-repeat;
	background-size:70%;
}

.footer-li-two{
	position: relative;
}

.jian,.jia{
	position: absolute;
	top:50%;
	transform: translate(0,-50%);
}


.layer-parent{
	position: fixed;
	width:100%;
	height:100%;
	top:-100%;
	left:0;
	background:rgba(0,0,0,0.8);
	transition: top 0.5s ease;
}

.layer{
	border-radius: 5px;
	width:calc(100% - 60px);
	height:200px;
	background:white;
	position: relative;
	top:50%;
	left:50%;
	transform: translate(-50%,-40%);
	z-index: 99;
}

.off{
	content:"";
	display: block;
	position: absolute;
	width:40px;
	height:40px;
	background:url(../../个人中心/img/off.png) center center no-repeat;
	background-size: cover;
	margin:0 auto;
	top:-70px;
	left:50%;
	transform: translate(-50%,0);
}

.layer:after{
		content: "";
		display: block;
		position: absolute;
		width:0;
		height:0;
		border-left: 12px solid transparent;
	    border-right: 12px solid transparent;
	    border-bottom: 15px solid white;
	    top:-15px;
	    left:50%;
		transform: translate(-50%,0);
}


.layer h4{
	width:100%;
	height:45px;
	text-align: center;
	line-height:45px;
	font-size:14px;
	color:black;
	border-bottom: 1px solid #d6d6d6;
	font-weight: normal;
}

.layer span{
	font-size:12px;
	display: block;
	color:#afafaf;
	margin-bottom: 10px;
}

.layer form{
	padding-left:15px;
	padding-right:15px;
	margin-top:20px;
	width:calc(100% - 32px);
}

.layer form textarea{
	width:calc(100% - 2px);
	resize: none;
	border:1px solid #d6d6d6;
	height:45px;
}

.layer form input{
	width:100%;
	height:40px;
	position: absolute;
	bottom:0;
	left:0;
	background:#765fc3;
	text-align: center;
	font-size:12px;
	color:white;
}

.sex-zzc{
	position: fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	transition:top 0.5s ease;
	top:0;
}

.sex-ul-parent{
	background:white;
	position: absolute;
	width:100%;
	bottom: 0;
}

.sex-ul-parent ul li{
	height:44px;
	line-height:44px;
	font-size:14px;
	color:#000000;
	padding:0 10px;
	border-bottom: 1px solid #d6d6d6;
	position: relative;
}

.sex-ul-parent ul li:first-child{
	text-align: center;
	font-size:16px;
}


.sex-ul-parent ul li:last-child{
	text-align: center;
	color:#7c7c7c;
}

.sex-btn{
	display: block;
	width:30px;
	height:30px;
	background: url(img/true.png) center center no-repeat;
	background-size: 70%;
	position: absolute;
	top: 50%;
	right:-100%;
	transition: all 0.5s ease;
	transform: translate(0,-50%);
}
