
header{
	width:100%;
	height:45px;
	text-align: center;
	line-height: 45px;
	font-size:14px;
	color:white;
	background:#755fc3;
	position: fixed;
	top:0;
	z-index: 100;
}

header a{
	display: inline-block;
	height:45px;
	width:40px;
	background: url(../个人中心/img/return.png) 15px center no-repeat;
	float:left;
	
}

.main{
	overflow: hidden;
}

.left{
	width:25%;
	float:left;
	background:#f1f1f1;
	padding:15px 0;
	border-right:1px solid #dedede;
	position: relative;
}

.left:before{
	content: "";
	position: absolute;
	  width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #ffffff;
    border-bottom: 10px solid transparent;
    right:-2px;
    top:45px;
}

.left ul li{
	text-align: center;
	font-size:12px;
	line-height:25px;
	color:#3a3a3a;
}

.left ul li:first-child{
	color:#755fc3;
}

.left ul li img{
	vertical-align: bottom;
}

.left ul li:first-child .left-img{
	width:40px;
	height:40px;
	border-radius: 50%;
	background:url(img/yas.png) center center no-repeat;
	background-color:#755fc3;
	margin:0 auto;
}

.left-img{
	width:40px;
	height:40px;
	border-radius: 50%;
	background:url(img/yashei.png) center center no-repeat;
	background-color:#dbdbdb;
	margin:0 auto;
}

.left ul li:nth-child(2) .left-img{
	background:url(img/yashei.png) center center no-repeat;
	background-color:#dbdbdb;
}

.left ul li:nth-child(3) .left-img{
	background:url(img/y2.png) center center no-repeat;
	background-color:#dbdbdb;
}


.right{
	width:calc(75% - 30px);
	float:right;
	padding-right:15px;
}

.right-title{
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#f54335;
	text-align: right;
	padding-right:15px;	
	background:#f9f9f9;
}

.right img{
	width:100%;
}

.xm-block{
	padding:10px 0;
	border-bottom: 1px solid #dedede;
}

.word{
	padding:5px 0;
	font-size:14px;
	color:#2a2a2a;
	line-height: 20px;
	position: relative;
}

.word span{
	font-size:16px;
	font-weight: 600;
	color:#f14434;
	line-height:25px;
}

.word span b{
	font-size:12px;
	color:#bbbbbb;
}

.btn{
	width:40px;
	height:40px;
	border-radius: 50%;
	background: #755fc3 url(img/jia.png) center center no-repeat;
	position: absolute;
	top:50%;
	right:0px;
	transform: translate(0,-50%);
}

.xm{
	display: none;
}

.right .xm:nth-child(2){
	display: block;
}

.bottom{
	width:100%;
	/*padding: 20px 0;*/
	height:60px;
	line-height:60px;
	background:#3f4249;
	position: fixed;
	bottom: 0;
}

.bottom ul li{
	float:left;
	width:calc(100% / 3);
	text-align: center;
	font-size: 16px;
	color:white;
}

.jia{
	display: inline-block;
	width:25px;
	height:25px;
	border:1px solid #666666;
	border-radius: 50%;
	left:5px;
	background:url(img/jian.png) center center no-repeat;
	background-size:70%;
}

.jian{
	display: inline-block;
	width:25px;
	height:25px;
	border:1px solid white;
	border-radius: 50%;
	right:5px;
	background:url(img/jiafooter.png) center center no-repeat;
	background-size:70%;
}

.footer-li-two{
	position: relative;
}

.jian,.jia{
	position: absolute;
	top:50%;
	transform: translate(0,-50%);
}




