@charset "utf-8";
/* CSS Document */
/*部分样式为公共使用样式*/


body{ background-color:#f1f1f1; margin:0px; padding:0px; height:;}
.top{ width:100%; height:40px; background-color:#000; margin-bottom:20px;}
.top1{ width:100%; position:fixed; top:0px; height:40px; background-color:#765fc3; padding-top:10PX; padding-bottom:10PX; line-height:40px; text-align:center; font-size:18px; color:#FFF;}
.top1fh{ width:95%; margin:auto; display:inline-block; height:30px; background:url(../img/fh.png) no-repeat ;   }
.kb{ width:100%; height:60px;}

.fx{ width:auto; height:25px; display:inline-block; font-size:0.7em; background-color:#; margin-top:13px; margin-right:10px; position:fixed; top:0px; right:0px;}





/* CSS 简历箱*/

.zwlist{ width:100%; height:150px; border-bottom:1px solid #d6d6d6;}
.zwlist img{ width:28%; height:100px; margin-left:10px; float:left; margin-top:20px; border:1px solid #d6d6d6;}
.zwlistxx{ width:40%; float:left; height:120PX; margin-left:10PX; margin-top:20PX; background-color:#; }
.xx1{font-family:'微软雅黑'; color:#000; font-size:1.1em; margin-top:10PX; display:inline-block; width:100%; }
.xx2{font-family:'微软雅黑'; color:#000; font-size:0.9em; margin-top:14PX; display:inline-block; width:100%; }
.xx3{font-family:'微软雅黑'; color:#7c7c7c; font-size:0.8em; margin-top:15PX; display:inline-block; width:100%; }
.zwlistxx1{ width:20%; float:left; height:120PX; margin-left:10PX; margin-top:20PX; background-color:#; }
.zl1{font-family:Arial, Helvetica, sans-serif; color:#ffd102; font-size:1em; font-weight:bold; text-align:right; margin-top:40PX; display:inline-block; width:100%; }
.zl2{font-family:'微软雅黑'; color:#7c7c7c; font-size:0.9em; margin-top:22PX; display:inline-block; text-align:right; width:100%; }
@media screen and (Max-width:780px) {
.zwlist{ width:100%; height:150px; border-bottom:1px solid #d6d6d6;}
.zwlist img{ width:15%; height:100px; margin-left:10px; float:left; margin-top:20px; border:1px solid #d6d6d6;}
.zwlistxx{ width:50%; float:left; height:120PX; margin-left:10PX; margin-top:20PX; background-color:#; }
.zwlistxx1{ width:28%; float:left; height:120PX; margin-left:10PX; margin-top:20PX; background-color:#; }
}
@media screen and (Max-width:420px) {
.zwlist{ width:100%; height:120px; border-bottom:1px solid #d6d6d6;}
.zwlist img{ width:20%; height:80px; margin-left:10px; float:left; margin-top:20px; border:1px solid #d6d6d6;}
.zwlistxx{ width:41%; float:left; height:120PX; margin-left:10PX; margin-top:20PX; background-color:#; }
.xx1{font-family:'微软雅黑'; color:#000; font-size:0.9em; margin-top:5PX; display:inline-block; width:100%; }
.xx2{font-family:'微软雅黑'; color:#000; font-size:0.9em; margin-top:5PX; display:inline-block; width:100%; }
.xx3{font-family:'微软雅黑'; color:#7c7c7c; font-size:0.8em; margin-top:10PX; display:inline-block; width:100%; }
.zwlistxx1{ width:28%; float:left; height:120PX; margin-left:10PX; margin-top:20PX; background-color:#; }
.zl1{font-family:Arial, Helvetica, sans-serif; color:#ffd102; font-size:1em; font-weight:bold; text-align:right; margin-top:20PX; display:inline-block; width:100%; }
.zl2{font-family:'微软雅黑'; color:#7c7c7c; font-size:0.9em; margin-top:18PX; display:inline-block; text-align:right; width:100%; }
}
@media screen and (Max-width:350px) {
.zwlist{ width:100%; height:130px; border-bottom:1px solid #d6d6d6;}
.zwlist img{ width:30%; height:95px; margin-left:10px; float:left; margin-top:20px; border:1px solid #d6d6d6;}
.zwlistxx{ width:60%; float:left; height:auto; margin-left:8PX; margin-top:20PX; background-color:#; }
.xx1{font-family:'微软雅黑'; color:#000; font-size:0.9em; margin-top:0PX; display:inline-block; width:50%; float:left; }
.xx2{font-family:'微软雅黑'; color:#000; font-size:0.9em; margin-top:0PX; display:inline-block; width:50%; float:left; }
.xx3{font-family:'微软雅黑'; color:#7c7c7c; font-size:0.8em; margin-top:10PX; display:inline-block; width:100%; }
.zwlistxx1{ width:63%; float:right; height:auto; margin-left:10PX; margin-top:5PX; background-color:#; }
.zl1{font-family:Arial, Helvetica, sans-serif; color:#ffd102; font-size:0.9em; font-weight:bold; text-align:left; margin-top:0PX; display:inline-block; width:100%; }
.zl2{font-family:'微软雅黑'; color:#7c7c7c; font-size:0.8em; margin-top:0PX; display:inline-block; text-align:left; width:100%; }
}




/* CSS 投递简历记录*/
@media screen and (Max-width:1024px) {
.kcnav{ width:100%; height:36PX; background-color:#; border-bottom:1px solid #d2d2d2; margin-top:15px;}
.kcnav a{ width:33%; float:left; padding-bottom:15px; text-decoration:none; text-align:center; display:inline-block; background-color:#;}
.kcnav .knav1{ border-left:1PX solid #d6d6d6;  border-right:1PX solid #d6d6d6;}
.kcnav .knav2{ border-right:1PX solid #d6d6d6;}
.kcnav .dj{ border-bottom:1px solid #765fc3; color:#765fc3;}
}
@media screen and (Max-width:430px) {
.kcnav{ width:100%; height:32PX; background-color:#; border-bottom:1px solid #d2d2d2; margin-top:15px;}
.kcnav a{ width:33%; float:left; padding-bottom:15px; color:#000; font-size:13px;  font-family:'微软雅黑'; text-decoration:none; text-align:center; display:inline-block; background-color:#;}
.kcnav .knav1{ border-left:1PX solid #d6d6d6;  border-right:1PX solid #d6d6d6;}
.kcnav .knav2{ border-right:1PX solid #d6d6d6;}
.kcnav .dj{ border-bottom:1px solid #765fc3; color:#765fc3;}
}


/* CSS 我的简历-添加男女*/
.navzlmxz{   width:100%; height:20PX; background:#FFF url(../img/xg.jpg) no-repeat right ; display:inline-block;  font-size:0.9em;  font-family:'微软雅黑'; color:#16ad60;  line-height:22PX; padding-bottom:10PX;  padding-top:10PX; border-top:1PX solid #d6d6d6;}
.navzlmxz SPAN{ margin-left:20PX;}
.navzlm{   width:100%; height:20PX; background-color:#FFF; display:inline-block;  font-size:0.9em;  font-family:'微软雅黑'; color:#000;  line-height:22PX; padding-bottom:10PX;  padding-top:10PX; border-top:1PX solid #d6d6d6;}
.navzlm SPAN{ margin-left:20PX;}

/* CSS 我的简历-添加工作经历*/
.tjgzjl{width:100%; height:50px; font-family:'微软雅黑';  line-height:50px; margin-left:10PX; font-size:0.9em; background-color:#FFF;  display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  }
.tjgzjl .tjgzjlspan1{ margin-left:10PX; color:#7c7c7c;}
.tjgzjl input{ border:none; margin-left:20PX; outline:none;}
.sqzw{ width:100%; height:40PX; display:inline-block; background-color:#765fc3; text-align:center; height:50PX; font-family:'微软雅黑'; color:#ffffff; line-height:50PX; font-size:0.9em; }



/* 以下CSS 部分样式为 口腔人才-简历管理 公司管理 职位管理 职位描述1 公用样式*/

.tx1{ width:100%; height:190px; background:url(../img/sc15.png) no-repeat; background-size:100%;}
.tx1 center img{ width:20%; height:auto; margin-top:20PX;}
.wxname{ font-family:'微软雅黑'; color:#fff; font-size:0.9em; margin-top:10PX; display:inline-block;}
.wdjjdiv{ width:100%; height:auto; background-color:#FFF; margin-bottom:10px;}
.wdjj1{width:100%; height:50px; display:inline-block; background:#FFF url(../img/sc19.jpg) no-repeat left; margin-top:10px;}
.wdjj2{width:100%; height:50px; display:inline-block; background:#FFF url(../img/sc20.jpg) no-repeat left; margin-top:10px;}
.wdjj3{width:100%; height:50px; display:inline-block; background:#FFF url(../img/sc21.jpg) no-repeat left; margin-top:10px;}
.wdjj4{width:100%; height:50px; display:inline-block; background:#FFF url(../img/sc22.jpg) no-repeat left; margin-top:20px;}
.wdjj1 span{width:80%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj3 span{width:80%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj2 span{width:80%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj4 span{width:80%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.xianxiang{ width:100%; height:30px; background-color:#FFF; padding-top:15px; padding-bottom:15px; position:fixed; bottom:0px;}
.xianxiang a{ width:49.8%; float:left; height:25px; background-color:#; display:inline-block;}
.xianxiang a center .span{  font-family:'微软雅黑'; color:#7c7c7c; display:inline-block; height:25px; line-height:23px; padding-left:35PX; font-size:0.9em; background:url(../img/sc23.jpg) no-repeat left;}
.xianxiang a center .span1{  font-family:'微软雅黑'; color:#765fc3; display:inline-block; height:25px; line-height:23px; padding-left:35PX; font-size:0.9em; background:url(../img/sc24.jpg) no-repeat left;}


.xianxiang a center .span2{  font-family:'微软雅黑'; color:#765fc3; display:inline-block; height:25px; line-height:23px; padding-left:35PX; font-size:0.9em; background:url(../img/sc233.jpg) no-repeat left;}
.xianxiang a center .span3{  font-family:'微软雅黑'; color:#7c7c7c; display:inline-block; height:25px; line-height:23px; padding-left:35PX; font-size:0.9em; background:url(../img/sc244.jpg) no-repeat left;}



@media screen and (Max-width:780px) {
.tx1 center img{ width:15%; height:auto; margin-top:20PX;}
.wdjj1 span{width:90%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj3 span{width:90%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj2 span{width:90%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj4 span{width:90%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}

}

@media screen and (Max-width:420px) {
.tx1 center img{ width:20%; height:auto; margin-top:20PX;}
.wdjj1 span{width:83%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj3 span{width:83%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj2 span{width:83%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj4 span{width:83%; height:50px; font-family:'微软雅黑'; color:#303030; line-height:45px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}

}
@media screen and (Max-width:380px) {
.tx1 center img{ width:25%; height:auto; margin-top:20PX;}

.wdjjdiv{ width:100%; height:auto; background-color:#FFF; margin-bottom:0px;}
.wdjj1{width:100%; height:45px; display:inline-block; background:#FFF url(../img/sc19.jpg) no-repeat left; margin-top:10px;}
.wdjj2{width:100%; height:45px; display:inline-block; background:#FFF url(../img/sc20.jpg) no-repeat left; margin-top:10px;}
.wdjj3{width:100%; height:45px; display:inline-block; background:#FFF url(../img/sc21.jpg) no-repeat left; margin-top:10px;}
.wdjj4{width:100%; height:45px; display:inline-block; background:#FFF url(../img/sc22.jpg) no-repeat left; margin-top:20px;}
.wdjj1 span{width:83%; height:45px; font-family:'微软雅黑'; color:#303030; line-height:35px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj3 span{width:83%; height:45px; font-family:'微软雅黑'; color:#303030; line-height:35px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj2 span{width:83%; height:45px; font-family:'微软雅黑'; color:#303030; line-height:35px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj4 span{width:83%; height:45px; font-family:'微软雅黑'; color:#303030; line-height:35px; font-size:1em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}

}
@media screen and (Max-width:330px) {
.wdjj1{width:100%; height:40px; display:inline-block; background:#FFF url(../img/sc19.jpg) no-repeat left; margin-top:10px;}
.wdjj2{width:100%; height:40px; display:inline-block; background:#FFF url(../img/sc20.jpg) no-repeat left; margin-top:10px;}
.wdjj3{width:100%; height:40px; display:inline-block; background:#FFF url(../img/sc21.jpg) no-repeat left; margin-top:10px;}
.wdjj4{width:100%; height:40px; display:inline-block; background:#FFF url(../img/sc22.jpg) no-repeat left; margin-top:10px;}
.wdjj1 span{width:80%; height:40px; font-family:'微软雅黑'; color:#303030; line-height:35px; font-size:0.9em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj3 span{width:80%; height:40px; font-family:'微软雅黑'; color:#303030; line-height:35px; font-size:0.9em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj2 span{width:80%; height:40px; font-family:'微软雅黑'; color:#303030; line-height:35px; font-size:0.9em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
.wdjj4 span{width:80%; height:40px; font-family:'微软雅黑'; color:#303030; line-height:35px; font-size:0.9em; display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:url(../img/sc18.jpg) no-repeat right;}
}

/* CSS 公司管理 职位管理 职位描述*/
.jjname{ width:100%; height:50PX; background-color:#fff; line-height:50PX; color:#000; font-size:15px;  font-family:'微软雅黑';}
.jjname span{ margin-left:10PX;}
.jjnamediv{ width:100%; height:auto; background-color:#FFF; margin-bottom:10px;}
.jjname1{width:100%; height:40px; font-family:'微软雅黑';  line-height:33px; margin-left:10PX; font-size:0.9em;  display:inline-block; border-bottom:1px solid #d4d4d4; float:right;  background:#fff url(../img/sc27.png) no-repeat right;}
.jjname1 .jjnamespan1{ margin-left:10PX; color:#7c7c7c;}
.jjname1 .jjnamespan2{ float:right; margin-right:30PX; color:#000;}
.jlnr{ width:93%; margin:auto; margin-top:5px; margin-bottom:5px;  color:#7c7c7c; font-size:0.9em;  font-family:'微软雅黑';}
.tjjl{color:#765fc3; font-size:0.9em; margin-bottom:20px; margin-top:20px; display:inline-block; font-family:'微软雅黑'; }
.kbs{ width:100%; margin:auto;  display:inline-block; height:10px; background-color:#f1f1f1;}
.kbs1{ width:100%; margin:auto; display:inline-block; height:50px; background-color:#f1f1f1;}
.scgslog,.scgshd,.bc{ width:100%; height:70px; background-color:#dfd5ff; margin-top:20px; display:inline-block; text-align:center; line-height:70px; color:#7c7c7c; font-size:0.9em;  font-family:'微软雅黑'; }