
body{
	background:#f1f1f1;
}

header{
	width:100%;
	height:45px;
	text-align: center;
	line-height: 45px;
	font-size:14px;
	color:white;
	background:#755fc3;
	text-indent: -40px;
}

header a{
    display: inline-block;
    height: 45px;
    width: 40px;
    float: left;
    background: url(../个人中心/img/return.png) 15px center no-repeat;
}

.bt-title{
	background:#765fc3;
	padding:25px 15px;
}

.bt-title h1{
	font-size:18px;
	color:white;
	padding-bottom: 10px;
}

.bt-title p{
	color:white;
	font-size:16px;
	display: inline-block;
	padding-right:25px;
	background: url(../img/yuandian.png) right center no-repeat;
}

.main{
	padding:25px 15px;
	color:#000000;
}

.main ul{
	overflow: hidden;
}


.main ul li{
	width:calc(100% / 2 - 11px);
	float:left;
	height:60px;
	padding:15px 0;
	background:white;
	padding-left:10px;
	border-right:1px solid #d4d4d4;
	margin-bottom: 15px;
}

.main ul li:nth-child(even){
	border-right:none;
}

.main ul li img{
	height:100%;
	float:left;
	margin-right:10px;
}

.main ul li h4{
	font-size:14px;
	color:#000000;
	padding-bottom: 10px;
	padding-top:5px;
}

.main ul li p{
	color:#7c7c7c;
	font-size:14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}





