
header{
	width:100%;
	height:45px;
	text-align: center;
	line-height: 45px;
	font-size:14px;
	color:white;
	background:#755fc3;
	text-indent: -40px;
}

header a{
	display: inline-block;
	height:45px;
	width:40px;
	background: url(../个人中心/img/return.png) 15px center no-repeat;
	float:left;
	
}

.top ul{
	overflow: hidden;
}

.top ul li{
	width:calc(100% / 4);
	float:left;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-size:14px;
	color:#303030;
	position: relative;
	border-bottom: 2px solid transparent;
	transition:all 0.5s ease;
}


.top ul li:first-child{
	color:#765fc3;
	border-bottom: 2px solid #765fc3;
	
}

.top ul li:first-child:before{
	content: "";
	position: absolute;
	width:1px;
	height:20px;
	background:#d6d6d6;
	top:50%;
	right:0;
	transform: translate(0,-50%);
}

.img-parent{
	height:50px;
	text-align: center;
}

.img-parent img{
	height:100%;
}

.main {
	padding:15px 15px;
}

.main ul{
	overflow: hidden;
	padding:2px;
	padding-bottom: 5px;
}

.main ul li{
	width:calc(100% / 3 - 5px);
	float:left;
	padding:20px 0;
	padding-bottom: 0;
	background:#f4f4f4;
	box-shadow: 0 2px 8px #a6a6a6;
	margin-bottom: 10px;
}

.main ul li:nth-child(2)
{
	margin-left:7px;
	margin-right:7px;
}


.main ul li:nth-child(5)
{
	margin-left:7px;
	margin-right:7px;
}

.main ul li:last-child span{
	color:#bababa;
}

.main ul li span{
	display: block;
	font-size:14px;
	text-align: center;
	padding:10px 0;
	color:#303030;
	background:white;
	margin-top:20px;
}


.main-parent .main{
	display: none;
}

.main-parent .main:first-child{
	display: block;
}



