@charset "utf-8";
/* CSS Document */

body{ background-color:#f1f1f1; margin:0px; padding:0px; height:;}
.top{ width:100%; height:40px; background-color:#000; margin-bottom:20px;}
.top1{ width:100%; height:40px; position:fixed; top:0px; background-color:#765fc3; padding-top:10PX; padding-bottom:10PX; line-height:40px; text-align:center; font-size:18px; color:#FFF;}
.top1fh{ width:95%; margin:auto; display:inline-block; height:30px; background:url(../img/fh.png) no-repeat ;   }
.kb{ width:100%; height:60px;}


/* CSS 视频子栏目样式*/
@media screen and (Max-width:1024px) {
.kcnav{ width:100%; height:36PX; background-color:#; border-bottom:1px solid #d2d2d2; margin-top:15px;}
.kcnav a{ width:25%; float:left; padding-bottom:15px; text-decoration:none; text-align:center; display:inline-block; background-color:#;}
.kcnav .knav1{ border-left:1PX solid #d6d6d6;  border-right:1PX solid #d6d6d6;}
.kcnav .knav2{ border-right:1PX solid #d6d6d6;}
.kcnav .dj{ border-bottom:1px solid #765fc3; color:#765fc3;}
}
@media screen and (Max-width:430px) {
.kcnav{ width:100%; height:32PX; background-color:#; border-bottom:1px solid #d2d2d2; margin-top:15px;}
.kcnav a{ width:25%; float:left; padding-bottom:15px; color:#000; font-size:13px;  font-family:'微软雅黑'; text-decoration:none; text-align:center; display:inline-block; background-color:#;}
.kcnav .knav1{ border-left:1PX solid #d6d6d6;  border-right:1PX solid #d6d6d6;}
.kcnav .knav2{ border-right:1PX solid #d6d6d6;}
.kcnav .dj{ border-bottom:1px solid #765fc3; color:#765fc3;}
}


/* CSS 视频*/
.listsp{ width:95%; height:auto; padding-bottom:10px;  margin:auto; background-color:#ffffff; border:1px solid #; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: #666 0px 0px 10px;
-moz-box-shadow: #666 0px 0px 10px;
box-shadow: #666 0px 0px 10px; }
.listsp img{ width:100%; height:auto; margin-bottom:10px;}
.listspname{ width:100%;  margin:auto;  height:40px; line-height:40px; display:inline-block; background:url(../img/sc11.png) no-repeat right;}
.listspname span{ font-family:'微软雅黑'; color:#303030; font-size:1em; margin-left:15px;}

