body{
	background:#f1f1f1;
}

header{
	width:100%;
	height:45px;
	text-align: center;
	line-height: 45px;
	font-size:14px;
	color:white;
	background:#755fc3;
	text-indent: -40px;
}

header a{
	display: inline-block;
	height:45px;
	width:40px;
	background: url(../img/return.png) 15px center no-repeat;
	float:left;
	
}

.header{
	height:45px;
	line-height:45px;
	padding:0 10px;
	font-size:14px;
	color:#7c7c7c;
}

.main{
	border-top: 1px solid #d6d6d6;
}

.main ul li{
	height:80px;
	padding:15px 10px;
	border-bottom: 1px solid #d6d6d6;
	background:#ffffff;
	position: relative;
}

.main ul li img{
	height:100%;
	float:left;
	padding-right:10px;
}

.main ul li p{
	font-size:12px;
	color:#484848;
	line-height:1.5;
}

.main ul li span{
	font-size:12px;
	color:#848484;
	position: absolute;
	bottom: 20px;
}

.main ul li ins{
	display: block;
	position: absolute;
	right:15px;
	top:10px;
	font-size:12px;
	color:#000000;
	text-decoration: none;
}

.main ul li b{
	position: absolute;
	font-size:12px;
	color:#848484;
	font-weight: normal;
	right:15px;
	top:40px;
}

.zj{
	height:45px;
	line-height:45px;
	font-size:14px;
	color:#765fc3;
	background:white;
	padding:0 10px;
	border-bottom: 1px solid #d6d6d6;
}

.zj span{
	color:#ff0000;
	float:right;
	font-size:12px;
}

.main-block-parent{
	width:100px;
	height:120px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size:12px;
	color:#8b8b8b;
	text-align: center;
	line-height: 30px;
}

.main-block{
	width:100px;
	height:100px;
	background:url(../img/message.png) center center no-repeat;
	background-size: cover;
	
}






