.mui-pull-top-tips {
	z-index: 10;
}

.mui-bar-tab {
	background-color: #fff;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: #765fc3;
}

.mui-bar-tab .mui-tab-item {
	color: #7c7c7c;
}

.mui-bar-tab .iconfont {
	margin-right: 5px;
}

.mui-control-content {
	height: 100%;
	position: relative;
}

.lists {
	padding: 5px;
}

.lists .item {
	text-align: center;
	width: calc(50% - 10px);
	width: -webkit-calc(50% - 10px);
	height: 200px;
	margin: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	float: left;
	overflow: hidden;
}

.lists .item .img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.item .img img {
	height: auto;
	width: 100%;
}

.imgbg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.9);
}

.imgbg.hide {
	display: none;
}

.imgbg .mui-icon-close {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	color: #fff;
}

.imgbg .img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

.imgbg .img img {
	width: 100%;
	height: auto;
}

.imgbg .tip {
	position: absolute;
	width: 100%;
	bottom: 40px;
	left: 0;
	text-align: center;
	color: #fff;
	font-size: 16px;
	z-index: 10;
}

.imgbg .imgbtn {
	position: absolute;
	bottom: 0;
	right: 10px;
	color: #fff;
	z-index: 10;
	color: #765fc3;
	line-height: 40px;
	font-size: 20px;
}

.imgbg .imgbtn .mui-icon {
	font-size: 30px;
}

.imgbg .imgbtn .iconfont {
	font-size: 20px;
}