
.mui-content {
	position: relative;
	padding-bottom: 60px;
}

.btn.btn-save { 
  position: fixed; bottom: 0; left: 0;
  z-index: 10; 
  background-color: #765fc3; 
  font-size: 18px; color: #ffffff; 
  text-align: center; height: 60px; 
  line-height: 60px; border: 0; padding: 0; 
  width: 100%; -
  webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; 
}


.add-pic {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	padding: 30px;
	text-align: center;
}

.add-pic:before,
.add-pic:after {
	position: absolute;
	right: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #d6d6d6;
}

.add-pic:before {
	top: 0;
}

.add-pic:after {
	bottom: 0;
}

.add-box {
	display: inline-block;
	text-align: center;
}

.add-box p {
	color: #b3b3b3;
	font-size: 14px;
	margin-top: 5px;
}

.add-box .ap-jia {
	border: 1px dotted #d2d2d2;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.add-box .ap-jia img {
	max-width: 100%;
	max-height: 100%;
}

.bill-item {
	position: relative;
	padding: 10px;
	line-height: 20px;
	background-color: #ffffff;
}

.bill-item:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #d6d6d6;
}

.bill-item p:first-child {
	position: relative;
	width: 80px;
}

.bill-item p:first-child:before {
	position: absolute;
	right: 0;
	top: 0;
	content: '';
	width: 1px;
	height: 100%;
	background-color: #d6d6d6;
}

.bill-item p {
	text-align: left;
	padding: 0 5px;
	color: #292929;
}

.bill-item p:last-child {
	text-align: right;
	font-size: 18px;
	color: #f34336;
}

.bill-item p span {
	color: #f34336;
	margin-left: 10px;
}

.bill-item p:last-child span {
	font-size: 14px;
	color: #bbbbbb;
	margin-left: 0;
}



.btns {
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	height: 60px;
	line-height: 60px;
	border: 0;
	padding: 0;
	width: 100%;
}

.btns .sure {
	background-color: #765fc3;
}

.btns .cancel {
	background-color: #f14434;
}
