.mui-pull-right {
	line-height: 44px;
}

.dateinfo {
	height: 50px;
	color: #626f7f;
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
}

.dateinfo .iconfont {
	font-size: 20px;
	margin: 0 40px 0 20px;
}

.date {
	color: #798694;
}

.date-week {
	padding: 0 10px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}

.date-month-box {
	padding: 10px;
}

.date-month {
	border-top: 1px solid #e7ebef;
}

.date-month .item {
	padding: 0 5px;
	width: calc(100% / 7);
	width: -webkit-calc(100% / 7);
	height: 64px;
	border: 1px solid #e7ebef;
	float: left;
	border-left: 0;
	border-top: 0;
	font-size: 12px;
	overflow: hidden;
}

.date-month .item:nth-child(7n + 1) {
	border-left: 1px solid #e7ebef;
}

.date-month .item ._date {
	color: #d8dee5;
	text-align: right;
	height: 20px;
	line-height: 20px;
}

.date-month .item.cur ._date {
	color: #6b7989;
}

.date-month .item.today {
	background-color: #765fc3;
}

.date-month .item.today ._date {
	color: #fff;
}

.date-month .item ._item {
	margin-bottom: 2px;
	height: 5px;
	padding-left: 5px;
	max-width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #0080ff;
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.hidebg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 50px 10px;
	display: none;
}

.hidebg .mui-icon {
	position: absolute;
	color: #fff;
	right: 10px;
	top: 10px;
}

.form-item {
	position: relative;
	background-color: #ffffff;
	padding: 15px;
	line-height: 20px;
}

.form-item:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #d6d6d6;
}

.form-item>p {
	padding-left: 5px;
	color: #7c7c7c;
	font-size: 14px;
}

.form-item>p:first-child {
	padding-left: 0;
}

.form-item>p:last-child {
	width: 85px;
	color: #ffae00;
}

.form-item>p.status2 {
	color: #f14434;
}

.form-item>p.status3 {
	color: #4cd964;
}

.form-item>p .iconfont {
	font-size: 18px;
	vertical-align: middle;
	margin-right: 2px;
}