  .mui-pull-right {
  	line-height: 44px;
  	height: 44px;
  }
  
  .mui-pull-right .iconfont {
  	font-size: 20px;
  }
  
   ::-moz-placeholder {
  	color: #000000;
  }
  
   :-ms-input-placeholder {
  	color: #000000;
  }
  
   ::-webkit-input-placeholder {
  	color: #000000;
  }
  
  body {
  	background-color: #ffffff;
  }
  
  .mui-content {
  	height: auto;
  	padding-bottom: 60px;
  	background-color: #ffffff;
  }
  
  .bill-item {
  	position: relative;
  	padding: 10px;
  	line-height: 20px;
  	background-color: #ffffff;
  }
  
  .bill-item:after {
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	height: 1px;
  	content: '';
  	-webkit-transform: scaleY(.5);
  	transform: scaleY(.5);
  	background-color: #d6d6d6;
  }
  
  .bill-item p:first-child {
  	position: relative;
  	width: 80px;
  }
  
  .bill-item p:first-child:before {
  	position: absolute;
  	right: 0;
  	top: 0;
  	content: '';
  	width: 1px;
  	height: 100%;
  	background-color: #d6d6d6;
  }
  
  .bill-item p {
  	text-align: left;
  	padding: 0 5px;
  	color: #292929;
  }
  
  .bill-item p:last-child {
  	text-align: right;
  	font-size: 18px;
  	color: #f34336;
  }
  
  .bill-item p span {
  	color: #f34336;
  	margin-left: 10px;
  }
  
  .bill-item p:last-child span {
  	font-size: 14px;
  	color: #bbbbbb;
  	margin-left: 0;
  }
  
  form {
  	margin-top: 10px;
  	margin-bottom: 10px;
  }
  
  .mui-input-group .mui-input-row {
  	height: 50px;
  }
  
  .mui-input-row label {
  	padding: 15px 10px;
  	line-height: 20px;
  	width: 90px;
  }
  
  .mui-input-group input {
  	height: 50px;
  	font-size: 14px;
  	padding: 15px;
  }
  
  .mui-input-row label~input {
  	width: calc(100% - 90px);
  	width: -webkit-calc(100% - 90px);
  }
  
  .mui-input-row label~p {
  	width: calc(100% - 90px);
  	width: -webkit-calc(100% - 90px);
  	float: right;
  	line-height: 50px;
  	color: #000000;
  }
  
  .mui-input-row label~p.status1 {
  	color: #ffae00;
  }
  
  .mui-input-row label~p.status2 {
  	color: #f14434;
  }
  
  .mui-input-row label~p.status3 {
  	color: #4cd964;
  }
  
  .mui-input-group .mui-input-row:after {
  	left: 0;
  }
  
  .mui-input-group .mui-input-row:last-child:after {
  	height: 0;
  }
  
  .mui-input-row .mui-input-clear~.mui-icon-clear {
  	top: 15px;
  }
  
  .sure-pre {
  	padding: 10px;
  }
  
  .sure-pre>span {
  	display: block;
  	border: 1px solid #755fc3;
  	color: #755fc3;
  	height: 50px;
  	line-height: 48px;
  	font-size: 18px;
  	text-align: center;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  }
  
  .btns {
  	position: fixed;
  	bottom: 0;
  	left: 0;
  	font-size: 18px;
  	color: #ffffff;
  	text-align: center;
  	height: 60px;
  	line-height: 60px;
  	border: 0;
  	padding: 0;
  	width: 100%;
  }
  
  .btns .sure {
  	background-color: #765fc3;
  }
  
  .btns .cancel {
  	background-color: #f14434;
  }
  
  .hide {
  	display: none;
  }
  
  .img {
  	padding: 10px 10px 0 10px;
  }
  
  .img img {
  	height: 100px;
  	width: auto;
  }
  

  
  #contentBox .mui-table-view-cell {
  	padding: 0;
  }
  
  #contentBox .mui-table-view-cell:after {
  	left: 0;
  }
  
  .form-item {
  	position: relative;
  	background-color: #ffffff;
  	padding: 15px;
  	line-height: 20px;
  }
  
  .form-item>p {
  	padding-left: 5px;
  	color: #7c7c7c;
  	font-size: 14px;
  }
  
  .form-item>p:first-child {
  	padding-left: 0;
  }
  
  .form-item>p:last-child {
  	width: 85px;
  	color: #ffae00;
  }
  
  .form-item>p.status2 {
  	color: #f14434;
  }
  
  .form-item>p.status3 {
  	color: #4cd964;
  }
  
  .form-item>p .iconfont {
  	font-size: 18px;
  	vertical-align: middle;
  	margin-right: 2px;
  }
  
  .mui-pull-top-tips {
  	z-index: 10;
  }
  
  #topPopover {
  	position: fixed;
  	top: 16px;
  	right: 6px;
  }
  
  #topPopover .mui-popover-arrow {
  	left: auto;
  	right: 6px;
  }
  
  .mui-popover {
  	width: 180px;
  	height: 180px;
  }